p{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    
}

#cabecera{
    background: red;
    color:rgb(155, 79, 79);
    font-size: 20px;
    text-align: center;
    padding: 1px;
}